:root {
  --wo-primary-color: #5f05a6;
  --wo-secondary-color: #f8f9fa;
  --wo-text-color: #333;
  --wo-background-color: #f8f9fa;
  --wo-white: #ffffff;
}

.wo-section-description {
  text-align: center;
  margin-bottom: 10px;
}

.wo-container {
  font-family: "Arial", sans-serif;
  color: var(--wo-text-color);
  line-height: 1.6;
}

.wo-hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--wo-white);
}

.wo-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.wo-hero-background {
  z-index: -1;
}

.wo-hero-content {
  max-width: 800px;
  padding: 2rem;
  z-index: 999;
  border-radius: 10px;
}

.wo-hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  /* animation: wo-fadeInUp 1s ease-out; */
}

.wo-hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  /* animation: wo-fadeInUp 1s ease-out 0.3s; */
}

.wo-hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* animation: wo-fadeInUp 1s ease-out 0.6s; */
}

.wo-button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: auto;
}

.wo-button-primary {
  background-color: var(--wo-primary-color);
  color: var(--wo-white);
  border: 2px solid transparent;
}

.wo-button-secondary {
  background-color: var(--wo-secondary-color);
  color: #333;
  border: 2px solid #5f05a6;
}

.wo-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wo-section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.wo-content-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wo-info-section {
  background-color: var(--wo-background-color);
}

.wo-schedule {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.wo-schedule-item {
  text-align: center;
}

.wo-schedule-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.wo-info-note {
  text-align: center;
  font-style: italic;
}

.wo-on-demand-section {
  background-color: var(--wo-white);
}

.wo-feature-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.wo-feature-list li {
  background-color: var(--wo-background-color);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.wo-faq-section {
  background-color: var(--wo-background-color);
}

.wo-faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.wo-faq-item {
  background-color: var(--wo-white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.wo-faq-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.wo-faq-item h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #5f05a6;
  text-align: center;
}

@keyframes wo-fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .wo-hero-title {
    font-size: 2rem;
  }

  .wo-hero-description {
    font-size: 1rem;
  }

  .wo-hero-buttons {
    flex-direction: column;
  }

  .wo-schedule {
    flex-direction: column;
    gap: 1rem;
  }
}

.previous-series-header {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  @media (max-width: 900px) {
    height: unset;
    aspect-ratio: 5/4;
  }
  @media (max-width: 600px) {
    height: unset;
    aspect-ratio: 4 / 5;
  }
}

.previous-series-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.previous-series-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.latest-sermon-section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #f5f5f5;
  /* box-shadow: var(--shadow-3); */
  border-radius: 8px;
  text-align: center;
}

.latest-sermon-section h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  white-space: balance;
}

.latest-sermon-section iframe {
  width: 100%;
  max-width: 800px; /* Adjust this value based on your design */

  border: none;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.latest-sermon-section img:hover {
  box-shadow: var(--shadow-1);
}
.featuredImage {
  box-shadow: var(--shadow-3);
  border-radius: 10px;
}

.previous-sermons-section {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
  text-align: center;
}

.previous-sermons-section h2 {
  font-size: 2.5rem;
  color: #5d05a7;
  margin-bottom: 30px;
}

.previous-sermons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: row-reverse;
}

.previous-sermon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  box-shadow: var(--shadow-2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  text-align: center;
}

.previous-sermon-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.previous-sermon-item img {
  border-radius: 12px;
  margin-bottom: 10px;
}

.previous-sermon-title {
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.individual-series-header {
  position: relative;
  min-height: 60vh;
  height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(93, 5, 167, 0.7), #333);
  color: white;
  text-align: center;
  padding: 20px;
}

.individual-series-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 10px auto 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 2px 4px 6px #000;
}

.individual-sermon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background: #f9f9f9; */
}

.individual-sermon-content h2 {
  text-align: center;
  font-size: var(--font-size-fluid-2);
  margin: 20px 0;
  color: #333;
}

.individual-video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between video and details */
  padding: 20px;
  background: #f9f9f9;
  min-height: 60vh;

  width: 100%;

  border-radius: 10px;
}

.individual-video-container {
  flex: 1;
  max-width: 800px;
  width: 100%;
  height: auto;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  border-radius: 8px;
}

.individual-video-container iframe,
.individual-video-container .individual-featured-image {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  object-fit: cover; /* Ensure the video/image covers the container */
  box-shadow: var(--shadow-3);
}

.individual-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual-play-button::before {
  content: "";
  display: inline-block;
  margin-left: 5px;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent white;
}

.individual-sermon-details {
  flex: 1;
  max-width: 35%;

  padding: 20px;
  border-radius: 8px;
}

.individual-sermon-details h3 {
  font-size: var(--font-size-fluid-1);
  font-weight: 700;
  margin-bottom: 10px;
  color: #5f04a6;
}

.individual-sermon-details p {
  margin: 5px 0;
  color: #555;
  font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .individual-video-section {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .individual-video-container {
    max-width: 100%;
  }

  .individual-sermon-details {
    max-width: 100%;
    width: 100%;
  }
}

.individual-video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.individual-video-item {
  cursor: pointer;
  border-radius: 8px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.individual-video-item:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

.thumbnail-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: var(--shadow-2);
}

.individual-video-item h3 {
  font-size: 1rem;
  color: #333;
  margin: 10px 0 0 0;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .individual-series-header h1 {
    font-size: 1.5rem;
    padding: 5px 10px;
  }

  /* .individual-sermon-details h3,
  .individual-sermon-details p {
    font-size: 0.9rem;
  } */

  .individual-play-button {
    width: 50px;
    height: 50px;
  }

  .individual-play-button::before {
    border-width: 12px 0 12px 20px;
  }
}

.individualSubHead {
  font-size: var(--font-size-fluid-2);
  width: 100%;
  text-align: center;
  color: #5d05a7;
  padding: 30px 0;
  /* background: #f9f9f9; */
}

.individual-series-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
