/* Overall container styling */
.aboutContainer {
  font-family: "Helvetica Neue", sans-serif;
  color: #222;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  /* padding-top: 20px; */
}

/* Header section with image */
.aboutHeader {
  position: relative;
  width: 100%;
  min-height: 75vh;
  overflow: hidden;
}

.aboutHeader img {
  object-fit: cover;
  filter: grayscale(50%) brightness(80%);
}

/* Section styling */
.historySection,
.visionSection,
.beliefsSection {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
  width: calc(100% - 10px);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.historySection:hover,
.visionSection:hover,
.beliefsSection:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Header styles */
.sectionTitle {
  font-size: 36px;
  color: rgba(93, 5, 167, 0.85);
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Paragraph styles */
.historyContent p,
.visionContent p,
.beliefsContent p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #555;
}

/* Strong emphasis styles */
.historyContent strong,
.visionContent strong,
.beliefsContent strong {
  font-weight: bold;
  color: rgba(93, 5, 167, 0.85);
}

/* Special section styles for Vision */
.visionSection {
  background: linear-gradient(145deg, rgba(93, 5, 167, 0.15) 25%, #fff 100%);
}

.visionContent p {
  text-align: center;
  font-style: italic;
}

/* Special section styles for Beliefs */
.beliefsSection {
  background: linear-gradient(145deg, rgba(93, 5, 167, 0.15) 25%, #fff 100%);
}

.beliefsContent strong {
  display: block;
  margin-bottom: 12px;
  font-size: 22px;
}

/* Signature styling */
.signature {
  font-style: italic;
  text-align: right;
  font-size: 20px;
  color: #555;
}

.loveFirstAboutHeader {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loveFirstAboutHeader h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.loveFirstAboutHeader p {
  font-size: 24px;
  margin: 0;
}

/* Visit Section styling */
.visitSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
  border-radius: 12px;
  margin-bottom: 50px;
  background: #eee;
  @media (max-width: 801px) {
    flex-direction: column;
    padding: 20px;
  }
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Individual visit options */
.visitOption {
  margin-bottom: 0;
  text-align: center;
  flex: 1;
  max-width: 300px;
  padding: 0 20px;
  @media (max-width: 801px) {
    margin-bottom: 20px;
  }
}

/* Link styles */
.visitLink {
  font-size: 22px;
  color: rgba(93, 5, 167, 0.85);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.visitLink:hover {
  color: #5d05a7;
  border-bottom-color: #5d05a7;
}

/* Description styles */
.visitDescription {
  font-size: 16px;
  color: #555;
  margin-top: 8px;
  line-height: 1.4;
}

.locationHero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  box-shadow: var(--shadow-2);
}

.locationHero .locationHeaderContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 1;
}

.locationHeaderContainer {
  width: calc(100% - 20px);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  white-space: balance;
}

.locationHeaderContainer h1 {
  font-size: var(--font-size-fluid-3);
}

.locationHeaderContainer p {
  font-size: var(--font-size-fluid-1);
}

.heroImage {
  z-index: 0;
}

.locationContent {
  display: flex;
  min-height: 60vh;
  margin-top: 10px;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: 10px auto;
  @media (max-width: 1030px) {
    flex-direction: column;
  }
}

.infoSection {
  flex: 0 0 40%; /* Shrink width */
  overflow-y: auto;
  padding: 20px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 10px;
  @media (max-width: 1030px) {
    margin: 10px auto;
    padding: 10px;
  }
}

.mapSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  /* box-shadow: var(--shadow-2);  */
  border-radius: 5px;
}

.section {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-3);
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: rgba(93, 5, 167, 0.9);
}

.section p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.link {
  color: rgba(93, 5, 167, 1);
  text-decoration: underline;
  /* font-weight: bold; */
  transition: color 0.3s;
}

.link:hover {
  color: rgba(93, 5, 167, 0.7);
}

.map {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  @media (max-width: 1030px) {
    min-height: 40vh;
  }
}

.leadersHeroSection {
  width: 100%;
  min-height: 60vh;
  background: #333;
}

/* .leadersHeroSection {
  text-align: center;
  padding: 2rem;
  background: #1a1a1a;
  color: #fff;
} */

.leadersHeroSection h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.leadersHeroSection p {
  font-size: 1.2rem;
}

.pastorsSection,
.staffSection,
.ministerSection {
  padding: 2rem;
  background: #fff;
}

.pastorsSection h2,
.staffSection h2,
.ministerSection h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Flexbox for leader cards layout */
.leaderCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

/* Flex properties to ensure even spacing */
.leaderImage,
.leaderContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderImage {
  flex: 1;
  max-width: 300px;
  margin: 0 1rem;
}

.leaderImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.leaderContent {
  flex: 2;
  max-width: calc(100% - 320px); /* Adjust based on image width + margin */
  flex-direction: column;
}

/* Alternating layout with nth-child selectors */
.leaderCard:nth-child(odd) .leaderImage {
  order: 1;
}

.leaderCard:nth-child(odd) .leaderContent {
  order: 2;
}

.leaderCard:nth-child(even) .leaderImage {
  order: 2;
}

.leaderCard:nth-child(even) .leaderContent {
  order: 1;
}

/* Styling for leader content */
.leaderContent h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.leaderContent p {
  margin: 0;
  text-align: center;
}

.leaderContent a {
  color: #5d5dff;
  text-decoration: none;
}

.leaderContent a:hover {
  text-decoration: underline;
}
