.headerHero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  text-align: center;
  background: url("/prayerHeader.webp") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  @media (max-width: 900px) {
    height: unset;
    aspect-ratio: 5/4;
  }
  @media (max-width: 600px) {
    height: unset;
    aspect-ratio: 4 / 6;
  }
}

.headerHero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.headerHero .headerContent {
  position: relative;
  z-index: 2;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.headerHero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.headerHero p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.headerHero img {
  display: none;
}

.prayerRequestSection {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(to right, rgba(93, 5, 167, 0.7), #333);
  color: #fff;
  gap: 2rem;
  padding: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.textContent {
  flex: 1;
  max-width: 500px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.textContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.textContent p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.formContent {
  flex: 1;
  max-width: 500px;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
  }
}

.prayerForm {
  background: #eee;
  color: #333;
  border-radius: 8px;
  box-shadow: var(--shadow-3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prayerForm label {
  font-size: 1.1rem;
  margin-bottom: 00;
}

.prayerForm input,
.prayerForm select,
.prayerForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.prayerForm input[type="text"],
.prayerForm input[type="email"],
.prayerForm input[type="tel"] {
  height: 40px;
}

.prayerForm textarea {
  resize: vertical;
}

.prayerForm button {
  background-color: rgba(93, 5, 167, 0.7);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.prayerForm button:hover {
  background-color: #4b4bff;
}

.infoAndVideoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background: #f9f9f9;
}

.videoContent {
  flex: 1 1 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.youTubeThumbImage {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.videoContent h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
}

.videoContent iframe,
.videoContent image {
  border: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 8px;
}

.infoContent {
  flex: 1 1 100%;
  max-width: 100%;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.infoContent h3 {
  font-size: 1.6rem;
  color: #555;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 600;
}

.infoContent p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  text-align: justify;
}

@media (min-width: 768px) {
  .infoAndVideoSection {
    flex-direction: row;
  }

  .videoContent,
  .infoContent {
    flex: 1;
    max-width: 50%;
    padding: 2rem;
  }
}

.dailyPrayerSection {
  padding: 2rem;
  background: #f9f9f9; /* Neutral background color to blend well */
  border-radius: 8px;
  text-align: center;
}

.dailyPrayerSection h2 {
  font-size: 1.8rem;
  color: #333; /* Dark text for high contrast */
  margin-bottom: 1rem;
  font-weight: 700;
}

.dailyPrayerSection p {
  font-size: 1rem;
  color: #666; /* Slightly lighter color for readability */
  line-height: 1.6;
}

.dailyPrayerSection strong {
  color: rgba(93, 5, 167, 0.7); /* Highlighted text color */
}

/* Modal Overlay */
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Header Styling */
.modalContent h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* Paragraph Styling */
.modalContent p {
  margin-bottom: 1rem;
  color: #555;
  line-height: 1.5;
}

/* Link Styling */
.modalContent a {
  color: #6200ea;
  text-decoration: none;
  font-weight: bold;
}

.modalContent a:hover {
  text-decoration: underline;
}

/* Close Button Styling */
.modalContent button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modalContent button:hover {
  background-color: #3700b3;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
